body, h1, h2, ul, li, p{
    margin: 0;
    padding: 0;
}

body {
    background-color: #8AA29E;

}

header {
    background-color: #3D5467; 
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #F1EDEE;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #F1EDEE;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

footer {
    background-color: #3D5467;
    color: #F1EDEE;
    text-align: center;
    padding: 10px 0;
}

.topnav {
    overflow: hidden;
    background-color: #8AA29E;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

#theCard {
	background-color: var(--bg-color);
	color: var(--font-color);
	border: .5em solid var(--border-color);
}

#toField {
	font-style: italic;
}

p {
	margin-left: 1em;
}

.stacked {
	margin-left: 2em;
	margin-top: 2em;
}